body{
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    color: rgb(0, 0, 0);
}

.navbar-default {
    background-color: #ffffff;
    border-color: transparent;
}

.navbar-brand img{
    max-height: 1.75rem;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: rgb(0, 106, 255);
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: rgba(221, 221, 221, 0);
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: rgb(0, 0, 0);
    background-color: #e7e7e700;
}
.navbar-default .navbar-nav>li>a {
    color: rgb(0, 0, 0);
}

.navbar-toggle{
    border: none;
}

.btn.btn-primary{
    color: rgb(0, 106, 255);
    background-color: transparent;
    border-color: rgb(0, 106, 255);
    margin-top: 7px;
}



.jumbtron{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(0, 105, 255);
    background-image: url('../img/svgexport-3.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.jumbtron .container{
    padding-top: 50px;
}


.jumbtron-card{
    padding: 35px 10px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

.jumbtron-card h3{
    margin-top: -20px;
    font-size: 20px;
}


.form-control.blue{
    margin-top: 5px;
    background-color:rgb(0, 105, 255) ;
    color: white;
}

.form-control{
    line-height: 17px;
    font-size: 12px;
}

.form-control img{
    height: 15px;
    position: relative;
    left: -15px;
}


.container-fluid.bg-grey{
    background-color: rgb(243, 245, 249);
    
}


.loghi .col-xs-6 img{
    height: 70px;
}


.nav-menu a{
    display: block;
    color: rgb(202, 202, 202);
    text-decoration: none;
    border-left: 1px solid rgb(219, 219, 219);
    padding-left: 10px;
    line-height: 40px;
}

.nav-menu a.active{
    color: rgba(0, 0, 0, 0.822);
    border-color: rgba(0, 0, 0, 0.822);
}






/* MEDIA */

@media screen and (min-width: 768px){
    .navbar-nav > li>a {
        font-size: 10px;
    }

    .loghi .col-xs-6 img{
        height: 60px;
    }
}

/* UTILITY */
.color-white{
    color: white;
}

.padding-top{
    padding-top: 20px;
}

.font-color-grey{
    color: rgb(202, 202, 202);
}

.font-size{
    font-size: 10px;
}