body{
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    color: rgb(0, 0, 0);
}

.navbar-default {
    background-color: #ffffff;
    border-color: transparent;
}

.navbar-brand img{
    max-height: 1.75rem;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: rgb(0, 106, 255);
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: rgba(221, 221, 221, 0);
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: rgb(0, 0, 0);
    background-color: #e7e7e700;
}
.navbar-default .navbar-nav>li>a {
    color: rgb(0, 0, 0);
}

.navbar-toggle{
    border: none;
}

.btn.btn-primary{
    color: rgb(0, 106, 255);
    background-color: transparent;
    border-color: rgb(0, 106, 255);
    margin-top: 7px;
}

.jumbtron{
    position: relative;
    top: 50px;
    background-color: rgb(0, 105, 255);
    background-image: url('../img/svgexport-3.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transform: translateZ(0px);
    backface-visibility: hidden;
}


.jumbtron-card{
    padding: 2px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

.jumbtron-card h3{
    font-size: 20px;
}

.form-group  input , .col-xs-12 button{
    margin-top: 5px;
}

.btn.btn-primary.blue{
    background-color:rgb(0, 105, 255) ;
    color: white;
}